
block content

    h2#helpprofile Help
    p#paraprofile.
        Op deze pagina kan je jouw profiel aanpassen, jouw persoonlijke rooster zien, en een algemeen overzicht krijgen van jouw persoonsgegegevns
        Om jouw profiel te wijzigen klik je vanaf hier op profiel wijzigen. 
        Vanaf hier kan jij jouw eigen foto uploaden (10mb) en gegevens aanpassen.
        Je kan dus ook op deze pagina gegevens veranderen mochten dit van toepassing zijn, dit doe je door in het veld de informatie te veranderen en 
        hierna te drukken op de groene knop 'wijzigen'. Verder kan je onder het kopje 'overzicht' jouw algemene informatie vinden. Hier staat ook informatie tussen die niet zelf aan te passen is! 
        Mocht hier een fout instaan meld dit dan bij jouw werkgever. Ook vind je een kopje met 'rooster'; hier kan je jouw persoonlijke rooster zien (zonder andere ingeroosterde werknemers). 
        Om terug te gaan naar Home druk je op de titel met 'TimePlanner' in de linker bovenhoek