
block footer
    link(rel='stylesheet', href='../stylesheets/style.css')
    footer
        div(class="container footer")
            div(class = "row")
                div(class="col-sm-12 col-md-9 ")
                    ul(class = "row")
                        li(class = "col-sm-2")
                            a(href="/testpage") Terms of use
                        li(class = "col-sm-2")
                            a(href="/testpage") Privacy policy
                        li(class = "col-sm-2")
                            a(href="/testpage") Contact

                div(class="col-sm-12 col-md-3 text-right")
                    p
                        | Team 3 <br> 
                        | &copy; 2019, All Rights Reserved
