extends layout

block content
    div(class="card shadow") 
        div(class="table-responsive ")  
                table(class="table table-sm")
                    thead(class="thead-tertiary")
                        tr
                            th(class="col-xs-1" scope="col") Medewerker 
                            th(class="col-xs-1" scope="col") Datum 
                    tbody
                        if(sickdays.length > 0)
                            each info in sickdays 
                                tr 
                                    - date = new Date(info.date).toLocaleString()
                                    td #{info.user.getFullName()}
                                    td #{date} 