header(class="container-fluid bg-primary")
    div(class="d-flex justify-content-between bd-highlight mb-3 ")
        div(class="p-1")
            a.navbar-brand(href='/') 
                h1 TimePlanner
        div(class="p-1")
            nav.navbar.navbar-expand-lg.nav.navbar-nav.d-none.d-md-block
                button.navbar-toggler.bg-light(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon

                .collapse.navbar-collapse(id='navbarSupportedContent')
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/') Home
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', href='#') Roosters
                            div.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                a.dropdown-item(href='/rooster/') Rooster
                                if userInfo.role == 'MANAGER' || userInfo.role == 'OWNER'
                                    a.dropdown-item(href='/rooster/add-user/') Rooster maken
                                if userInfo.contract_hours > 32
                                    a.dropdown-item(href='/availability') Voorkeuren
                                else
                                    a.dropdown-item(href='/availability') Beschikbaarheid 
                                a.dropdown-item(href='#') Vervanging
                                a.dropdown-item(href='#') Ziek melden
                                a.dropdown-item(href='/requestdayoff') Vrij vragen
                        if userInfo.role == 'MANAGER' || userInfo.role == 'OWNER'
                            li.nav-item
                                a.nav-link(href='/') Ziek meldingen
                        if userInfo.role == 'MANAGER' || userInfo.role == 'OWNER'
                            li.nav-item.dropdown 
                                a.nav-link.dropdown-toggle(id='navbarApproveDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', href='#') Goedkeuren
                                div.dropdown-menu(aria-labelledby='navbarApproveDropdownMenuLink')
                                    a.dropdown-item(href='/approve/') Alle  
                                    a.dropdown-item(href='/approve/changerequests') Vervanging
                                    a.dropdown-item(href='/approve/dayoffrequests') Vrijedagen  
                          
                        li.nav-item
                            a.nav-link(href='/usermanagement/list') Medewerkers 

        div(class="p-1")
            nav.navbar.navbar-expand-lg.nav.navbar-nav
                ul.navbar-nav.mr-auto
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(id='profileDropdown', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', href="#") 
                            img( src='/'+userInfo.profile_image class="img-responsive profile-img" alt="")
                        div#profile-dropdown.dropdown-menu(style="right:-30px; left:auto;" aria-labelledby='profileDropdown')
                            a.dropdown-item(href='/profile') #{userInfo.firstname}
                            hr
                            a.dropdown-item(href='/profile/') Profiel Overzicht
                            a.dropdown-item(href='/profile/changesettings/') Profiel Wijzigen
                            a.dropdown-item(href='/profile/tasks') Rooster
                            hr
                            a.dropdown-item(href='/profile/help') Help
                            hr
                            a.dropdown-item(href='/logout/') Uitloggen