div(class="row")
    div(class="col-sm-4")
        a.navbar-brand(href='/') 
            h1 TimePlanner
    div(class="col-sm-4 col-md-5 col-lg-6")
        nav.navbar.navbar-expand-lg.nav.navbar-nav.d-md-block
            button.navbar-toggler.bg-light.navbar-light(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse(id='navbarSupportedContent')
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', href='#') Roosters
                        div.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='/rooster/') Rooster
                            if !userInfo.isUser()
                                a.dropdown-item(href='/rooster/add-user/') Rooster maken
                            if userInfo.contract_hours > 32
                                a.dropdown-item(href='/availability') Voorkeuren
                            else
                                a.dropdown-item(href='/availability') Beschikbaarheid 
                            a.dropdown-item(href='/rooster/substitute/list') Vervanging
                            a.dropdown-item(href='/call-in-sick') Ziek melden
                            a.dropdown-item(href='/requestdayoff') Vrij vragen
                    if !userInfo.isUser()
                        li.nav-item
                            a.nav-link(href='/call-in-sick/list') Ziek meldingen
                    if !userInfo.isUser()
                        li.nav-item.dropdown 
                            a.nav-link.dropdown-toggle(id='navbarApproveDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', href='#') Goedkeuren
                            div.dropdown-menu(aria-labelledby='navbarApproveDropdownMenuLink')
                                a.dropdown-item(href='/approve/') Alle  
                                a.dropdown-item(href='/approve/changerequests') Vervanging
                                a.dropdown-item(href='/approve/dayoffrequests') Vrijedagen  
                          
                    li.nav-item
                        a.nav-link(href='/usermanagement/list') Medewerkers 

    div(class="col-sm-4 col-md-3 col-lg-2")
        nav.navbar.navbar-expand-lg.nav.navbar-nav
            ul.navbar-nav
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(id='profileDropdown', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', href="#") 
                        img( src='/'+userInfo.getImage() class="img-responsive profile-img" alt="")
                    div#profile-dropdown.dropdown-menu(style="right:-30px; left:auto;" aria-labelledby='profileDropdown')
                        a.dropdown-item(href='/profile') #{userInfo.firstname}
                        hr
                        a.dropdown-item(href='/profile/') Profiel Overzicht
                        a.dropdown-item(href='/profile/changesettings/') Profiel Wijzigen 
                        hr
                        a.dropdown-item(href='' data-toggle="modal" id="helpBtn" data-target="#helpModal") Help
                        hr
                        a.dropdown-item(href='/logout/') Uitloggen