extends layout

block content
    div(class="row")
        div(class="col-sm-12 col-md-6 offset-md-3")
            form(class="form-signin form" method="POST" action="/login/")
                div(class="round-border-white-box")
                    img(src="/images/horecaplanner.svg" height="128px" class="middle-image" id="logo")
                h2(class="mb-3 font-weight-normal text-center") Login
                if errors !== undefined && errors.length > 0
                    #error
                        div(class="alert alert-danger")
                            each error in errors
                                p #{error}

                div(class="form-group")
                    label Emailadres
                    input(type="email" name="username" id="inputEmail" class="form-control" placeholder="email@adres.nl" required autofocus)
                div(class="form-group")
                    label Wachtwoord
                    input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Wachtwoord" required)
                div(class="form-group")
                    input(class=['btn', 'btn-primary', 'form-control'] type="submit" value="Inloggen")
                a(href="#forgotten-password" data-toggle="modal" data-target="#forgotten-password") Wachtwoord vergeten.
    

    div(class="modal fade" id="forgotten-password" tabindex="-1" role="dialog" aria-labelledby="forgotten-password" aria-hidden="true")
      div(class="modal-dialog modal-dialog-centered" role="document")     
        div(class="modal-content")
            div(class="modal-header")
                h5(class="modal-title" id="Title") Wachtwoord reset aanvragen.
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times; 
            div(class="modal-body")

                form(method="POST" class="form-reset form" action="../login/reset/" id="resetPassword" )
                    p Voer hier onder je email adres in om je wachtwoord te resetten.
                    div(class="form-group")
                        label(for="email-address" class="col-form-label") Emailadres
                        input(type="email" class="form-control" id="inputEmail"  name="inputEmail"  required)
                        br
                        button(type="submit" id="submit" class="btn btn-primary") Verstuur  