extends layout

block content
    div(class="row")
        div(class="col-sm-12 col-md-6 offset-md-3")
            form(class="form-signin form" method="POST" action="/login/")
                #error
                    if error
                        p(class="alert alert-danger")
                            | Wachtwoord of gebruikersnaam onjuist, probeer opnieuw.
                div(class="round-border-white-box")
                    img(src="/images/horecaplanner.svg" height="128px" class="middle-image" id="logo")
                h2(class="mb-3 font-weight-normal text-center") Please sign in

                div(class="form-group")
                    label Email address
                    input(type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)
                div(class="form-group")
                    label Password
                    input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)
                div(class="form-check form-check-inline")
                    input(class="form-check-input" type="checkbox" value="remember-me") 
                    label(class="form-check-label")
                       | Remember me
                div(class="form-group")
                    input(class=['btn', 'btn-primary', 'form-control'] type="submit" value="Sign in")
                a(href="#forgotten-password" data-toggle="modal" data-target="#forgotten-password") I forgot my password.
    

    div(class="modal fade" id="forgotten-password" tabindex="-1" role="dialog" aria-labelledby="forgotten-password" aria-hidden="true")
      div(class="modal-dialog modal-dialog-centered" role="document")     
        div(class="modal-content")
            div(class="modal-header")
                h5(class="modal-title" id="Title") Wachtwoord reset aanvragen.
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times; 
            div(class="modal-body")

                form(method="POST" class="form-reset form" action="../login/reset/" id="resetPassword" )
                    p Voer hier onder je email adres in om je wachtwoord te resetten.
                    div(class="form-group")
                        label(for="email-address" class="col-form-label") Email adres
                        input(type="email" class="form-control" id="inputEmail"  name="inputEmail"  required)
                        br
                        button(type="submit" id="submit" class="btn btn-primary") Verstuur  