doctype html
html
    head
        meta(charset='utf-8')
        title= title + ' | TimePlanner'
        meta( name="viewport" content="width=device-width, initial-scale=1")
        link(rel='manifest', href='/manifest.json')
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/service-worker-register.js')
        block styles
        block scripts
    body
        if userInfo !== undefined 
            header
                include fullNavbar
        else
            header
                include homeheader

        main(class="container") 
            br
            div(class="card shadow")
                if title !== undefined 
                    div(class="card-header bg-secondary")
                        h2 #{title}
                div(class="card-body") 
                    block content
        


        include footer


    div(class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered" role="document")     
        div(class="modal-content")
            div(class="modal-header")
                h5(class="modal-title" id="Title") Info
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times; 
            div(class="modal-body" id="bodyText")
            
            div( class="modal-footer") 
                    button( type="button" class="btn btn-primary" id= "back-btn") Terug
                    button( type="button" class="btn btn-primary" id="next-btn") Volgende
 


        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="/javascript/modal.js")
