extends layout

block content
    br
    h2 Privacy policy
    i Updated on 15-11-2019 
    br
    br
    b Cookies
    br
    p1. 
       Our websites uses cookies to check for earlier visits, if the user visited our site earlier, the cookies will be used to load your 
       previous preferences and is possible to log you in without re-entering your logins
    br
    br
    b Data
    br
    p1.
        The data stored by our system is data provided by the user himself. The provided data may be used and stored on other networks instead of the local running network,
        Furthermore, data may be adjusted and may be distributed to other companies involved in the regarding users' bussines. The data provided by the user is also stored in an online databasa,
        which is secured by a third party. Any breaches in the referended database is not to blame on Team 3 . Note that your data may be stored on servers or 
        computers outside of the users country
    br
    br
    b Third parties
    br
    p1.  
        We do not sell data to third parties, your data will not be used for any other purposes than storage and verification. The only third parties involved is the database which is used for storage of data. 
        As said, this data wont be sold or used by any other company. Though, when asked for by legal procedure, we are obliged to share your information with the claiming party. 