extends layout

block content
    br
    div(class="card shadow")
        div(class="card-header")
            h2 Profiel
        div(class="col-sm-12")
            div(class="row no-gutter")
                div( class="col-md-6 col-lg-3", style="background:yellow;")
                    div( class="profile-sidebar")
                    //SIDEBAR USERPIC
                    div( class="profile-userpic text-center")
                        img( src="https://via.placeholder.com/150" class="img-responsive" alt="")
                    div( class="profile-usertitle")
                        div( class="profile-usertitle-name") #{userInfo.firstname} #{userInfo.lastname}
                        div( class="profile-usertitle-job") 
                            case userInfo.role 
                                when "MANAGER"
                                    | Manager
                                when "OWNER"
                                    | Beheerder
                                default
                                    | Gebruiker
                    div( class="profile-usermenu")
                        ul( class="list-unstyled")
                            li( class={active: page == 'overview'})
                                a( href="/profile/")
                                    i( class="fa fa-home") 
                                    | Overzicht
                            li( class={active: page == 'changesettings'})
                                a( href="/profile/changesettings")
                                    i( class="fa fa-user") 
                                    | Profiel wijzigen
                            li( class={active: page == 'tasks'})
                                a( href="/profile/tasks")
                                    i( class="fa fa-calendar") 
                                    | Rooster 
                            li( class={active: page == 'help'})
                                a( href="/profile/help")
                                    i( class="fa fa-info-circle")
                                    | Help 
                div( class="col-md-6 col-lg-9")
                    div( class="profile-content") 
                        case page
                            when "overview"
                                include profile/overview
                            when "changesettings"
                                include profile/changesettings
                            default
                                include profile/overview