extends layout

block content
    br
    div(class="card shadow")
        div(class="card-header")
            h2 Profiel
        div(class="col-sm-12")
            div(class="row no-gutter")
                div( class="col-md-3", style="background:yellow;")
                    div( class="profile-sidebar")
                    //SIDEBAR USERPIC
                    div( class="profile-userpic text-center")
                        img( src="https://via.placeholder.com/150" class="img-responsive" alt="")
                    div( class="profile-usertitle")
                        div( class="profile-usertitle-name") #{user.firstname} #{user.firstname}
                        div( class="profile-usertitle-job") #{user.role}
                    div( class="profile-userbuttons")
                        button( type="button" class="btn btn-success btn-sm") Follow
                        button( type="button" class="btn btn-danger btn-sm") Message
                    div( class="profile-usermenu")
                        ul( class="list-unstyled")
                            li( class="active")
                                a( href="#")
                                    i( class="fa fa-home") 
                                    | Overview
                            li
                                a( href="#")
                                    i( class="fa fa-user") 
                                    | Account Settings 
                            li
                                a( href="#" target="_blank")
                                    i( class="fa fa-calendar") 
                                    | Tasks 
                            li
                                a( href="#")
                                    i( class="fa fa-info-circle")
                                    | Help 
                div( class="col-md-9")
                    div( class="profile-content") Some user related content goes here...
            