extends layout

block content

            div(class="row no-gutter")
                div( class="col-md-6 col-lg-3", style="background:#E8E576;")
                    div( class="profile-sidebar")
                    //SIDEBAR USERPIC
                    div( class="profile-userpic text-center")
                        img(id="profilepic" src='/'+userInfo.profile_image class="img-responsive profile-img2" alt="")
                        case page
                            when "changesettings"
                                form(action="/profile/upload" method="POST" enctype="multipart/form-data") 
                                    div(class="file btn btn-sm btn-primary")
                                        label(for="filebrowser") Wijzig profielfoto
                                        input(name="myImage" style="display: none;" id="filebrowser" type="file" class="custom-file-input"  onchange="this.form.submit()") 
                                        
            div( class="profile-usertitle")
                div( class="profile-usertitle-name") #{userInfo.firstname} #{userInfo.lastname}
                div( class="profile-usertitle-job") 
                    case userInfo.role 
                        when "MANAGER"
                            | Manager
                        when "OWNER"
                            | Beheerder
                        default
                            | Gebruiker
            div( class="profile-usermenu")
                ul( class="list-unstyled")
                    li( class={active: page == 'overview'})
                        a( href="/profile/")
                            i( class="fa fa-home") 
                            | Overzicht
                    li( class={active: page == 'changesettings'})
                        a( href="/profile/changesettings")
                            i( class="fa fa-user") 
                            | Profiel wijzigen
                    li( class={active: page == 'tasks'})
                        a( href="/profile/tasks")
                            i( class="fa fa-calendar") 
                            | Rooster 
                    li( class={active: page == 'help'})
                        a( href="/profile/help")
                            i( class="fa fa-info-circle")
                            | Help 
        div( class="col-md-6 col-lg-9")
            div( class="profile-content") 
                case page
                    when "overview"
                        include profile/overview
                    when "changesettings"
                        include profile/changesettings
                    default
                        include profile/overview
