extends layout

block content
    br
     
    div(class="card  shadow p-3 mb-5")
        div(class="card-header")
            h2 #{title}
        div(class="card-body") 
        if(error)
            h2 #{errorMessage}
        else
            h2 test123
             