extends layout

block content
    br
     
    div(class="card  shadow p-3 mb-5")
        div(class="card-header")
            h2 #{title}
        div(class="card-body") 
        if(error)
            h2 #{errorMessage}
        else if (token !== undefined)
            form(method='POST' action='/user/resetpassword/reset/' class="needs-validation" novalidate) 
                div( class="form-group row")
                    div(class="col")
                        label(for="passwordField1" class="col-form-label") Nieuw wachtwoord.                     
                        input(type="password" class="form-control "  onchange="fieldValidation()" name="passwordField1" id="passwordField1"  required)
                        div(class="invalid-feedback") Wachtwoord moet minimaal 6 tekens bevatten.  
                div( class="form-group row")
                    div(class="col")
                        label(for="passwordField2" class="col-form-label") Herhaal wachtwoord.                         
                        input(type="password" class="form-control" onkeyup="fieldValidation()" name="passwordField2" id="passwordField2" required)
                        div(class="invalid-feedback") Wachtwoord niet het zelfde.
                input(type="hidden" value=token) 
                div(class="col ")
                        button(type="button"  id="submit" class="btn btn-secondary  float-right") Pas aan.
        else if (success == true)
            p Je wachtwoord is aangepast! Je kan nu opnieuw inloggen.

    script.
        function fieldValidation(){
            var fieldA = document.getElementById("passwordField1").value;
            var fieldB = document.getElementById("passwordField2").value;

         
         if(fieldA.length > 5){
            if(fieldA == fieldB){
                document.getElementById("passwordField1").className = "form-control"
                document.getElementById("passwordField2").className = "form-control"
                document.getElementById("submit").type  = "submit"
                document.getElementById("submit").className = "btn btn-success float-right"
            } else { 
                document.getElementById("passwordField1").className = "form-control"
                document.getElementById("passwordField2").className = "form-control is-invalid"
                document.getElementById("submit").type  = "button"
                document.getElementById("submit").className = "btn btn-secondary float-right"
            }
        } else {
            document.getElementById("passwordField1").className = "form-control is-invalid"
            document.getElementById("passwordField2").className = "form-control"
            document.getElementById("submit").type  = "button"
            document.getElementById("submit").className = "btn btn-secondary float-right" 
            }
        };