extends layout

block styles

    
    link( href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' )


    link( href='https://unpkg.com/@fullcalendar/timeline@4.3.0/main.min.css' rel='stylesheet' )

  

    link( href='https://unpkg.com/@fullcalendar/resource-timeline@4.3.0/main.min.css' rel='stylesheet' ) 





block scripts

    
    script( src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js')
    script( src='https://unpkg.com/@fullcalendar/timeline@4.3.0/main.min.js')

    script( src='https://unpkg.com/@fullcalendar/resource-common@4.3.1/main.min.js')

    script( src='https://unpkg.com/@fullcalendar/resource-timeline@4.3.0/main.min.js')

block content
    script.
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
              plugins: [ 'resourceTimeline' ],
              header: {
                left: 'today prev,next',
                center: 'title',
                right: 'resourceTimelineWeek', 
              },
              defaultView: 'resourceTimelineWeek',
              aspectRatio: 2, 
              slotDuration: '06:00:00',
              slotLabelFormat: [
                      {weekday: 'long', month: 'numeric', day: 'numeric'  }, 
                      {   }, 

                    ], 
              resourceColumns: [
                {
                  labelText: 'Medewerker',
                  field: 'title' }
              ], 
              resources: [ {"id": "1","title": "Gerard Ramsea"}  ],
              events: '#{timeTable}',
            });

            calendar.render(); 
        }); 
              
        
    br
    //-https://stackoverflow.com/questions/29965136/fullcalendar-modal-on-event-click-not-displaying-correctly
    #fullCalModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4#modalTitle.modal-title
                    button.close(type='button' data-dismiss='modal')
                        span(aria-hidden='true') &times;
                        span.sr-only close
                #modalBody.modal-body   
                    p(id="Commentaar")
                    button.btn.btn-warning(type='button') Vervanging
                    .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='button' id="editBtn") Bewerken
    div(class="card shadow")
        div(class="card-header")
            div(id='calendar')

    