extends layout

block content
  head
    meta(charset='utf-8')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.css' rel='stylesheet')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.js')

    script.
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'timeGrid' ],
            defaultView: 'timeGridWeek',
            resources: [
            { id: 'a', title: 'Room A' },
            { id: 'b', title: 'Room B'},
            { id: 'c', title: 'Room C' },
            { id: 'd', title: 'Room D' }
            ],
            events: [{"resourceId":"a","title":"event 1A","start":"2019-11-10","end":"2019-11-12"},{"resourceId":"b","title":"event 3","start":"2019-11-11T12:00:00+00:00","end":"2019-11-12T06:00:00+00:00"},{"resourceId":"c","title":"event 4","start":"2019-11-11T07:30:00+00:00","end":"2019-11-11T09:30:00+00:00"},{"resourceId":"d","title":"event 5","start":"2019-11-11T10:00:00+00:00","end":"2019-11-11T15:00:00+00:00"},{"resourceId":"a","title":"event 2","start":"2019-11-11T09:00:00+00:00","end":"2019-11-11T14:00:00+00:00"}]

        });

        calendar.render();
        });

    
  body
    br
    div(class="card shadow")
        div(class="card-header")
            div(id='calendar')
    