extends layout

block styles

    
    link( href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' )


    link( href='https://unpkg.com/@fullcalendar/timeline@4.3.0/main.min.css' rel='stylesheet' )

  

    link( href='https://unpkg.com/@fullcalendar/resource-timeline@4.3.0/main.min.css' rel='stylesheet' ) 





block scripts

    
    script( src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js')
    script( src='https://unpkg.com/@fullcalendar/timeline@4.3.0/main.min.js')

    script( src='https://unpkg.com/@fullcalendar/resource-common@4.3.1/main.min.js')

    script( src='https://unpkg.com/@fullcalendar/resource-timeline@4.3.0/main.min.js')
     
    script. 
         function handleResponse(response){
            let resultObj = JSON.parse(response); 
            if(resultObj.success == true){
                $("#feedback-req").html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + resultObj.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <i class="fa fa-times"> </div>'); 
                } 
                else { 
                $("#feedback-req").html(' <div class="alert alert-danger alert-dismissible fade show" role="alert">' + resultObj.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <i class="fa fa-times"> </div>');

            } 
        }

         
        function onCalendarItemClick(timetableItemId,timetableItemUserId){  
            console.log(timetableItemUserId);
            let userId = "#{userInfo.id}"; 
            let userRole = "#{userInfo.role}";  
            if (String(userId) == String(timetableItemUserId)){ 

                $("#substituteBtnDiv").html('<button class="btn btn-success" type="button" data-dismiss="modal" id="substitutebutton" val="'+timetableItemId+'"> Vervanging aanvragen</button>');
                $('#substitutebutton').click(function (e){
                        $.ajax({
                            type: "POST",
                            url: '/rooster/substitute/',
                            data: {id: timetableItemId},
                            success: function(result){
                                handleResponse(result);
                            }  
                        }); 
                    });
                      
            } else{
                $("#substituteBtnDiv").html('');
            }
            
            if (userRole == "OWNER" || userRole == "MANAGER" ){
                $("#editBtnDiv").html('<button class="btn btn-warning editBtn" type="button" id="editBtn" value="'+timetableItemId+'"> Aanpassen</button>');
                 $('#editBtn').click(function (e){ 
                    window.location = "/rooster/edit-user/"+ this.value;
                });
            } 
            else{
                $("#editBtnDiv").html('');
            }
        }

        function getTimeTableDate(data,callback){        
                $.ajax({
                    type: "POST",
                    url: '/rooster/timetable', 
                    data: { 
                    data: data, 
                    },
                    success: function(result) {
                        resultObj = JSON.parse(result); 
                        callback(resultObj);                    
                    }
                });
            }
        
        
          
        document.addEventListener('DOMContentLoaded', function() {
        
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
              plugins: [ 'resourceTimeline' ],
              header: {
                left: 'today prev,next',
                center: 'title',
                right: 'resourceTimelineDay,resourceTimelineWeek', 
              },
              defaultView: 'resourceTimelineWeek',
              aspectRatio: 2, 
              slotDuration: {hours: 6},
              slotLabelFormat: [
                      {weekday: 'long', month: 'numeric', day: 'numeric'  }, 
                      { hour: 'numeric'   }, 

                    ], 
              resourceColumns: [ 
                {
                  labelText: 'Medewerker',
                  field: 'title' }
              ], 
              resources: !{resources},
              events: function(data, callback) { getTimeTableDate(data,callback) },
            eventClick: function(info){ 
                                    $('#modalTitle').html(info.event.title);
                                    $('#Commentaar').html("Commentaar: "+info.event.extendedProps.comment);
                                    $('#fullCalModal').modal();  
                                    onCalendarItemClick(info.event.id,info.event.extendedProps.user_id);
                                    },
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },
                firstDay: 1
            });

      
            calendar.render();  
        });  
        
block content 
    br
    //-https://stackoverflow.com/questions/29965136/fullcalendar-modal-on-event-click-not-displaying-correctly
    #fullCalModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4#modalTitle.modal-title
                    button.close(type='button' data-dismiss='modal')
                        span(aria-hidden='true') &times;
                        span.sr-only close
                #modalBody.modal-body   
                    p(id="Commentaar")
                    .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') Close 
                        div(id="editBtnDiv")
                            button.btn.btn-warning(type='button' id="editBtn") Aanpassen
                        div(id="substituteBtnDiv")

    div(class="card shadow")
        div(class="card-header")
            div(id='feedback-req')
            div(id='calendar')