extends layout

block content   
    link(rel='stylesheet', href='../stylesheets/style.css')
    div(class='terms')
        h1 Terms of Use
    p  Last updated: (11-11-2019)
    b  Please read these Terms of Use carefully before using the TimePlanner website operated by Team 3 . </br>
    i.   
        <br> &bull; Your access to and use of the TimePlanner is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the TimePlanner. </br>
        <br> &bull; By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the TimePlanner.</br>
        <br>&bull; We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</br>
        <br>&bull; We allow the user of this application to use pictures in our application, though the uploader of the content is held responsible to make sure that there is no plagiarism involved and accepts to deal with the consequences when there is indication of piracy in the uploaded content.</br>
        <br> &bull; Furthermore, the admin of the application -which is the owner of the buissenes using this application- is held responsible for keeping safe the data of their employees and agrees to not share any of this data without agreement by the concerned employee. </br>
        <br> &bull; Any breached data from the local computer of the buissenes involved cannot be blamed on Team 3. The owner himself is responsible for a safe local environment


 

