html > body {
    background-color: #efefef;
}

h1 {
    color: white;
    margin-right: 24px;
}

.bg-primary {
    background-color: #03396c !important;
}

.bg-secondary {
    background-color: #005b96 !important;
}

.bg-tertiary {
    background-color: #6497b1 !important;
}

.row.card-row {
    margin: -1.25rem;
}

.bg-primary *,
.bg-secondary *,
.bg-tertiary * {
    color: white;
}

body {
    padding-bottom: 200px;
}

.form-signin {
    padding: 15px;
    margin: 20px;
    border: 1px solid #dedede;
    border-radius: 8px;
    background: #007bff47;
}

#profile-dropdown {
    position: absolute;
}

/* make beautiful corners with white backgrounds */
.round-border-white-box {
    width: 100%;
}
termsofuse{
    opacity:0.6;
    color: white ;
}
div.terms {
    font-size: 15px ;
}

.middle-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dedede;
}

.font-weight-normal {
    font-weight: 400 !important;
    font-family: monospace;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: monospace;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    position: center;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: justify;
    box-shadow: 0px 0px 4px #000000;
    border-radius: 8px 8px 0 0;
}

    .footer li {
        display: inline;
        padding: 2px;
        margin-bottom: 2px;
        opacity: 0.5;
    }

    .footer a {
        color: white;
    }

    .footer p {
        margin-bottom: 0;
        opacity: 0.5;
    }

.header{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font: italic;
    font-family: "Times New Roman", Times, serif;
    background: #007bff;
    color: white;
    background-color: #007bff;
    box-shadow: 0px 0px 4px #000000;
    border-radius: 0 0 20px 20px;
}

.nav li a, .nav li p, .nav li ul {
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

.nav li a:hover, .nav li p:hover, .nav li ul:hover {
    color: #dedede;
}

.lg-nav li a, .lg-nav li p, .lg-nav li ul, .lg-nav li i, .lg-nav li {
    font-size: 3rem;
    color: white;
    font-weight: 700;
    opacity: 1;
}



.nav .dropdown-item {
    color: #343434;
}

.nav .dropdown-item:hover {
    color: black;
}

.footer-nav .navbar ul {
    flex-direction: row;
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
}

.profile-userpic img, .profile-img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

    .profile-userbuttons .btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 6px 15px;
        margin-right: 5px;
    }

        .profile-userbuttons .btn:last-child {
            margin-right: 0px;
        }

.profile-usermenu {
    margin-top: 30px;
}

    .profile-usermenu ul li:last-child {
        border-bottom: none;
    }

    .profile-usermenu ul li a {
        color: #93a3b5;
        font-size: 14px;
        font-weight: 400;
    }

        .profile-usermenu ul li a i {
            margin-right: 8px;
            font-size: 14px;
        }

        .profile-usermenu ul li a:hover {
            color: #5b9bd1;
        }

    .profile-usermenu ul li.active a {
        color: #5b9bd1;
        border-left: 2px solid #5b9bd1;
        padding-left: 5px;
    }

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

/*
 *   END OF: User Profile Sidebar by @keenthemes
*/

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.dashboard-timetable .timetable-item {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}


.dashboard-timetable .timetable-item:not(:last-child) { 
    border-bottom: 1px solid #eee;
}

.dashboard-timetable .timetable-item:not(:first-child) {
    padding-top: 16px;
}