html > body {
    background-color: #efefef;
}

h1 {
    color: white;
    margin-right: 24px;
}
#helpprofile{
    color: black;
}

#paraprofile{
    color:black;
}

.bg-primary {
    background-color: #03396c !important;
}

.bg-secondary {
    background-color: #005b96 !important;
}

.bg-tertiary {
    background-color: #6497b1 !important;
}

.thead-tertiary {
    background-color: #6497b1 !important;
    border-color: #6497b1 !important;
    border-top: 2px solid #6497b1de !important;
    border-bottom: 2px solid #6497b1de !important;
    color: white;
}

.popover-header {
    background-color: #03396c !important;
    border-color: #03396c !important;
    border-top: 2px solid #03396c !important;
    border-bottom: 2px solid #03396c !important;
    color: white;
}

.row.card-row {
    margin: -1.25rem;
}

.bg-primary *,
.bg-secondary *,
.bg-tertiary * {
    color: white;
}

body {
    padding-bottom: 200px;
}

.form-signin {
    padding: 15px;
    margin: 20px;
    border: 1px solid #dedede;
    border-radius: 8px;
    background: #007bff47;
}

#profile-dropdown {
    position: absolute;
}

/* make beautiful corners with white backgrounds */
.round-border-white-box {
    width: 100%;
}
termsofuse{
    opacity:0.6;
    color: white ;
}
div.terms {
    font-size: 15px ;
}

.middle-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dedede;
}

.font-weight-normal {
    font-weight: 400 !important;
    font-family: monospace;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: monospace;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    position: center;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: justify;
    box-shadow: 0px 0px 4px #000000;
    border-radius: 8px 8px 0 0;
}

    .footer li {
        display: inline;
        padding: 2px;
        margin-bottom: 2px;
        opacity: 0.5;
    }

    .footer a {
        color: white;
    }

    .footer p {
        margin-bottom: 0;
        opacity: 0.5;
    }

.header{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font: italic;
    font-family: "Times New Roman", Times, serif;
    background: #007bff;
    color: white;
    background-color: #007bff;
    box-shadow: 0px 0px 4px #000000;
    border-radius: 0 0 20px 20px;
}

.nav li a, .nav li p, .nav li ul {
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

.nav li a:hover, .nav li p:hover, .nav li ul:hover {
    color: #dedede;
}

.lg-nav li a, .lg-nav li p, .lg-nav li ul, .lg-nav li i, .lg-nav li {
    font-size: 3rem;
    color: white;
    font-weight: 700;
    opacity: 1;
}

.formcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#contactlabel {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: smaller;
    font-family: unset;
}

#contact-message {
    width: 100%;
    height: 100px;
}
#submit_message {
    background-color: #03396c ;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    #submit_message:hover {
        background-color: #03396c85;
    }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.nav .dropdown-item {
    color: #343434;
}

.nav .dropdown-item:hover {
    color: black;
}

.footer-nav .navbar ul {
    flex-direction: row;
}
/**Profile picture Navbar**/
.profile-userpic img, .profile-img {
    float: none;
    margin: 0 auto;
    /*height: 50%;*/
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
}

.profile-userpic img, .profile-img2 {
    float: none;
    margin: 0 auto;
    /*height: 50%;*/
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    object-fit: cover;
    width: 150px;
    height: 150px;
}



.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

    .profile-userbuttons .btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 6px 15px;
        margin-right: 5px;
    }

        .profile-userbuttons .btn:last-child {
            margin-right: 0px;
        }

.profile-usermenu {
    margin-top: 30px;
}

    .profile-usermenu ul li:last-child {
        border-bottom: none;
    }

    .profile-usermenu ul li a {
        color: #93a3b5;
        font-size: 14px;
        font-weight: 400;
    }

        .profile-usermenu ul li a i {
            margin-right: 8px;
            font-size: 14px;
        }

        .profile-usermenu ul li a:hover {
            color: #5b9bd1;
        }

    .profile-usermenu ul li.active a {
        color: #5b9bd1;
        border-left: 2px solid #5b9bd1;
        padding-left: 5px;
    }

.close {
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}



.modal-content {
    left: 30%;
    right: 30%;
    bottom: 50%;
    position: inherit;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .4rem;
    outline: 0;
}


/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

/*
 *   END OF: User Profile Sidebar by @keenthemes
*/

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dashboard-timetable .timetable-item {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}


.dashboard-timetable .timetable-item:not(:last-child),
.dashboard-employees .employee-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.dashboard-employees b {
    padding-top: 8px;
}
.dashboard-timetable .timetable-item:not(:first-child),
.dashboard-employees .employee-item:not(:first-child) {
    padding-top: 16px;
}
.dashboard-employees .employee-item:not(:last-child) {
    padding-bottom: 16px;
}
    .greeting-message {
    position: fixed;
    top: 1rem;
    right: 0;
    transition: all 2s ease-in-out;
}

    .greeting-message.hidden {
        transition: all 2s ease-in-out;
        right: -100%;
    }

    .greeting-message > .alert {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


.fc-time-grid-event.fc-event.fc-start.fc-end * {
    color: white;
}

.fc-event:hover {
    cursor: pointer;
}

/* Popup box BEGIN */
.hover_bkgr_fricc {
    background: rgba(0,0,0,.4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

    .hover_bkgr_fricc .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .hover_bkgr_fricc > div {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: auto;
        max-width: 551px;
        min-height: 100px;
        vertical-align: middle;
        width: 60%;
        position: relative;
        border-radius: 8px;
        padding: 15px 5%;
    }

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

    .popupCloseButton:hover {
        background-color: #ccc;
    }

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}