extends ../layout

block content
    div(class="card shadow") 
        div(class="table-responsive ")  
                table(class="table table-sm")
                    thead(class="thead-tertiary")
                        tr
                            th(class="col-xs-1" scope="col") Maandag
                            th(class="col-xs-1" scope="col") Dinsdag 
                            th(class="col-xs-1" scope="col") Woensdag 
                            th(class="col-xs-1" scope="col") Donderdag
                            th(class="col-xs-1" scope="col") Vrijdag
                            th(class="col-xs-1" scope="col") Zaterdag
                            th(class="col-xs-1" scope="col") Zondag
                    tbody
                        tr 
                        each val in availability
                            td
                                label #{val.info} 
                             
    br
         

    
    div(class="card shadow")   
            div(class="table-responsive ")  
                form(method='POST' action='/availability')
                    table(class="table table-sm") 
                        thead(class="thead-tertiary")
                            tr
                                th(class="col-xs-1" scope="col") Maandag
                                th(class="col-xs-1" scope="col") Dinsdag 
                                th(class="col-xs-1" scope="col") Woensdag 
                                th(class="col-xs-1" scope="col") Donderdag
                                th(class="col-xs-1" scope="col") Vrijdag
                                th(class="col-xs-1" scope="col") Zaterdag
                                th(class="col-xs-1" scope="col") Zondag
                        tbody
                            tr 
                            each val in availability 
                                td 
                                    input(type="text" name=val.day placeholder="--:-- - --:--" value=val.info class=" form-control input-sm")    
                        
                    input(type="submit" class="float-right btn btn-primary btn-sm" value="Geef door")  